
.wrapper {
    background: #bfe2e6;


}




.content {
    display: flex;
    flex-flow: row wrap;
    /*padding-top: 90px;*/
    bottom: 0;

    /*height: 76vh;*/
    justify-content: center;
    align-items: flex-end;




}
.control {
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 250px;
    background: #7d7462;
    margin: 0px 10px;
    align-items: center;





}
.calculations {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 320px;
    min-height: 200px;
    background: #7d7462;
    margin: 0px 20px;
}
div.sensors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    width: 20%;
    min-height: 400px;
    background: dimgrey;
    margin: 0px 20px;
    padding: 40px 20px;
}
.control div {
    padding: 10px 20px;

}

.control div:first-child {
    padding: 10px;
}

.calculations div {
    padding: 10px;


}
.footer_fon {
    background-image: url("img/fon_footer.png");
    background-size: 900px 150px;
    width: 100%;
    height: 150px;

}
.control_roof {

    border: 50px solid transparent;
    border-bottom: 70px solid #b44f38;
}
.calculations_roof {
    display: flex;
    border: 50px solid transparent;
    border-bottom: 70px solid #b44f38;
    justify-content: flex-start;
    align-items: flex-end;
}
.calculations_roof img {
    width: 20px;

}
div.input-group {
    display: flex;
    flex-direction: column;
    min-height: 45px;
    align-items: center;
    background: burlywood;
    border-radius: 5px;


}
#calculate {
    padding: 10px 40px;
}

#elem.form-control {

    margin-bottom: 10px;
}

select#select-format {
    margin-top: 10px;
}

.btn-add {
    background-color: saddlebrown;
    color: white;
    padding: 10px 60px;
    border-radius: 5px;

}

.btn.remuve {
    background-color: brown;
    color: white;
    padding: 0px 50px;


}







#res {
    display: flex;
    width: 150px;
    height: 50px;
    background-color: white;
    margin-bottom: 20px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
#outcome {
    display: flex;
    width: 40%;
    height: 30px;
    background: #bfe2e6;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}




div.celsius {
    display: flex;
    background: saddlebrown;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;



}
div.farenheit {
    display: flex;
    background: burlywood;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
}


.celsius div {
    justify-content: center;
    align-items: center;
    padding: 5px 0px;

}
.farenheit div {
    justify-content: center;
    align-items: center;
    padding: 5px 0px;

}
.celsius button {
    border-radius: 5px;
    align-self: flex-end;
}

.farenheit button {
    border-radius: 5px;
    align-self: flex-end;
}

.celsius input {
    margin: 5px 10px;
    border-radius: 5px;
}
.farenheit input {
    margin: 5px 10px;
    border-radius: 5px;
}